#canvas
{
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    align-items: center;
    text-align: center;

    width: 100%;
    font-size: 20px;
    background-color: color($colors, light, base);    
}

#containerCatch
{
    padding: 20px;
}

#appNameCatch
{
    color: color($colors, primary, base);
    font-weight: 500;
}

#mouseLeftButton
{
    left:0;
}

#mouseRightButton
{
    right: 0;
}

.mouseButton
{
    position: fixed;
    bottom: 0;

    width: calc(50% - 1px);
    height: 17%;
    max-height: 100px;
    cursor: pointer;
    background-color: color($colors, dark, base);

    // z-index: 100;
}

.mouseButton:active
{
    transform: perspective(100px) rotateX(10deg);
    background-color: color($colors, primary, base);
}

.tapCircle
{
    position: fixed;

    border-radius: 50%;
    background-color: color($colors, fadedPrimary, base);

    animation: tapCircleAnimation 0.3s normal forwards ease-in;        
}

.tapCircle.fixedCircle
{
    animation: fixedCircleAnimation 0.3s normal forwards ease-in;    
}

@keyframes fixedCircleAnimation 
{
    from 
    {
        opacity: 0;
        transform: scale(0.7);
    }
    to
    {
        opacity: 1;
        transform: scale(1);
        background-color: color($colors, primary, base);
    }
}

@keyframes tapCircleAnimation 
{
    from 
    {
        opacity: 0;
        transform: scale(0.7);
    }
    50% 
    {
        opacity: 1;
        transform: scale(1);
    }
    to
    {
        opacity: 0;
        transform: scale(0.7);        
    }
}