AirMouse_Server/node_modules
AirMouse_Server/release-builds

AirMouse_Client/*~
AirMouse_Client/*.sw[mnpcod]
AirMouse_Client/*.log
AirMouse_Client/*.tmp
AirMouse_Client/*.tmp.*
AirMouse_Client/log.txt
AirMouse_Client/*.sublime-project
AirMouse_Client/*.sublime-workspace
AirMouse_Client/.vscode/
AirMouse_Client/npm-debug.log*

AirMouse_Client/.idea/
AirMouse_Client/.ionic/
AirMouse_Client/.sourcemaps/
AirMouse_Client/.sass-cache/
AirMouse_Client/.tmp/
AirMouse_Client/.versions/
AirMouse_Client/coverage/
AirMouse_Client/dist/
AirMouse_Client/node_modules/
AirMouse_Client/tmp/
AirMouse_Client/temp/
AirMouse_Client/platforms/
AirMouse_Client/plugins/
AirMouse_Client/plugins/android.json
AirMouse_Client/plugins/ios.json
AirMouse_Client/www/
AirMouse_Client/$RECYCLE.BIN/

AirMouse_Client/.DS_Store
AirMouse_Client/Thumbs.db
AirMouse_Client/UserInterfaceState.xcuserstate