page-home
{
    background-color: color($colors, light, base); 
}

#backgroundContainer
{
    background-color: color($colors, primary, base);    
    
    height: 100%;
    transform: skewY(-15deg);
}

#centeredContainer
{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: color($colors, light, base);
    
    text-align: center;
    padding: 0px 30px 0px 30px;
    letter-spacing: 1px;
}

#homeLogo
{
    width: 80px;
}

#homeTitle
{
    font-size: 28px;
}

#homeDescription
{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.connectInputContainer
{
    border-radius: 4px;
}

.connectInputContainer, .connectInputContainer > *
{
    background-color: color($colors, light, base) !important;    
}

.connectInput
{
    color: color($colors, dark, base) !important;    
}

.connectLabel
{
    color: color($colors, primary, base) !important;    
}

#connectButton
{
    font-size: 22px;
    font-weight: 300;
    padding: 16px;
    text-transform: none;
}

.connectBorderDisabled
{
    border: none;
}